@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------------ FONTS ------------------*/

@font-face {
  font-family: 'Norwester';
  src: url('../public/Fonts/norwester.otf') format('opentype');
}

@font-face {
  font-family: 'Neue-haas-grotesk';
  src: url('https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

nav,
h1,
h2,
h3 {
  font-family: 'Norwester';
}

p,
a {
  font-family: 'Neue-haas-grotesk';
}

.p-norwester {
  font-family: 'Norwester';
}

.p-neue {
  font-family: 'Neue-haas-grotesk';
}
/*------------------------ GENERAL ------------------*/

body {
  color: rgb(255, 255, 255, 1);
  background-color: black;
}

::-webkit-scrollbar {
  width: 0;
}

/*------------------------ BACKGROUNDS ------------------*/
.home-background {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(5, 33, 51, 1) 100%
    ),
    url('../public/01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  &::after {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    width: 100vh;
    height: 160vh;
    background-image: url('../public/Layers.svg');
    background-repeat: no-repeat;
  }
}

.welcome-background {
  background-image: linear-gradient(to bottom, #052133 0%, #051e2e 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.series-background {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(5, 33, 51, 1) 100%
    ),
    url('../public/02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-background {
  background: linear-gradient(to bottom, #03121c 0%, rgb(3, 22, 40) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay-2 {
  background-image: url('../public/Layers2.svg');
  background-position: center;
  background-position-x: 230px;
  background-position-y: 470px;

  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

/*------------------------ BG EFFECT TEST ------------------*/

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #001f3f, #002855);
  animation: seaWaves 8s infinite linear;
  background-size: 100% 40px;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 20%;
}

@keyframes seaWaves {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 40px;
  }
}

/*------------------------ MEDIA Q ------------------*/

@media (max-width: 768px) {
  .home-background {
    background-position: center;
    background-size: cover;
    &::after {
      content: '';
      position: absolute;
      top: 70%;
      left: 0;
      width: 100vh;
      height: 160vh;
      transform: scale(0.5);
      transform-origin: top left;
    }
  }
  .logo {
    width: 103px;
    height: auto;
  }

  .menu {
    width: 18px;
    height: auto;
  }

  .overlay-2 {
    background-size: 100%;
    background-position-y: 300px;
    background-position-x: 0px;
  }
  .series-background {
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 400px) {
  .home-background {
    background-position: center;
    background-size: cover;
    &::after {
      content: '';
      position: absolute;
      top: 81%;
      left: 0;
      width: 100vh;
      height: 160vh;
      transform: scale(0.45);
      transform-origin: top left;
    }
  }
}
