@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Norwester';
  src: url('../public/Fonts/norwester.otf') format('opentype');
}

@font-face {
  font-family: 'Neue-hass-grotesk';
  src: url('../public/Fonts/neue-haas-grotesk-display-link.rtf')
    format('truetype');
}

body {
  background-color: rgb(0, 0, 12);
  color: aliceblue;
}

h1 {
  font-family: 'Norwester';
}
